@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sunflower:wght@300&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}

h1,h2,h3,h4,h5, .logo-font {
    font-family: "Sunflower", sans-serif;
}

/* 포트폴리오 섹션 */
.card-img-top {
    transition: transform 1s;
}

.card-img-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* 배너 모달 창*/
.banner {
    background-image: url(../images/card-banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}